//colors text
$text-color-black-header: #282d30;
$text-color-gray-text: #c2c2c2;
$text-color-white-text: #ffffff;
//colors BG
$bg-color-HeaderAndFooter: #282d30;
$bg-color-button: #c4092f;
$bg-color-thead: #c4092f;
$bg-color-tbody: #f5f6f6;
//colors circle
$pick-circle-color-white: #ffffff;
$pick-circle-color-black: #000000;
$pick-circle-color-gray: #cbcbcc;
$pick-circle-color-red: #d74345;
$pick-circle-color-green: #88c504;
//colors border
$border-color-red: #c4092f;
$border-color-black: #000000;
$border-color-gray: #dcdcdc;
$pick-circle-color-red: #d74345;
$pick-circle-color-green: #88c504;
