.form{
    &__row-up-line{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        width: 100%;
        margin-right: 21px;
    }
    &__year{
        width: 100%;
        margin-right: 21px;
    }
    &__price{
        width: 100%;
    }
}
