input.form__color--white(type="radio" name="color" value="white")
input.form__color--black(type="radio" name="color" value="black")
input.form__color--gray(type="radio" name="color" value="gray")
input.form__color--red(type="radio" name="color" value="red")
input.form__color--green(type="radio" name="color" value="green")

select.form__status(name="status")
    option Статус
    option(value="inStock") В наличии
    option(value="expects") Ожидается
    option(value="outOfStock") Нет в наличии

input.form__submit(type="submit" name="submit" value="Отправить >")
