.container
    h3.container__header-text Автомобили в наличии
    table.table
        thead.table__header
            tr.table__header-row
                th.table__header-title Название
                th.table__header-year Год
                th.table__header-color Цвет
                th.table__header-status Статус
                th.table__header-price Цена
                th
        tbody.table__body
            tr.table__body-row
                td.table__body-title
                    | 1.6 MT Ambiente 85 л.с. МКПП 
                    span.table__body-title--small-text + доп. опция «Радио-навигационная система Amundasen 2DIN, CD, M
                td.table__body-year 
                    | 2012
                td.table__body-color 
                    i.table__body-color--black
                td.table__body-status
                    | Ожидается
                td.table__body-price 
                    | 1 689 000 руб.
                td.table__body-delete
                    button Удалить
            tr
                td.table__body-title 
                    | 1.6 MT Trend 105 л.с. МКПП 1
                td.table__body-year  
                    | 2012
                td.table__body-color 
                    i.table__body-color--white
                td.table__body-status
                    | Ожидается
                td.table__body-price 
                    | 1 189 900 руб.
                td.table__body-delete
                    button Удалить
            tr
                td.table__body-title 
                    | 1.6 MT Trend 105 л.с. МКПП
                td.table__body-year  
                    | 2012
                td.table__body-color 
                    i.table__body-color--black
                td.table__body-status
                    | В наличии
                td.table__body-price 
                    | 1 459 000 руб.
                td.table__body-delete
                    button Удалить
            tr
                td.table__body-title 
                    | 1.6 PowerShift Trend Sport 105 л.с. АКПП
                td.table__body-year  
                    | 2012
                td.table__body-color 
                    i.table__body-color--gray
                td.table__body-status
                    | Ожидается
                td.table__body-price 
                    | 1 459 000 руб.
                td.table__body-delete
                    button Удалить
            tr
                td.table__body-title 
                    | 2.0 MT Trend Sport 150 л.с. МКПП
                td.table__body-year  
                    | 2012
                td.table__body-color 
                    i.table__body-color--red
                td.table__body-status
                    | Ожидается
                td.table__body-price 
                    | 786 000 руб.
                td.table__body-delete
                    button Удалить
            tr
                td.table__body-title 
                    | 2.0 PowerShift Trend Sport 150 л.с. АКПП
                    span.table__body-title--small-text + доп. опция «Радио-навигационная система Amundasen 2DIN, CD, M
                td.table__body-year  
                    | 2012
                td.table__body-color 
                    i.table__body-color--green
                td.table__body-status
                    | Нет в наличии
                td.table__body-price 
                    | 821 000 руб.
                td.table__body-delete
                    button Удалить
            
